description: MRTK Unreal API Reference {{ title }}
author: hferrone
ms.author: v-hferrone
ms.date: {{date("%m/%d/%Y")}}
ms.localizationpriority: medium
ms.topic: language-reference
keywords: Unreal, HoloLens, HoloLens 2, Mixed Reality, development, MRTK
uid: [insert_uid]